<strong>ARTICLE-LIST.COMPONENT</strong>
<div class="row" style="border-style: dashed; border-color: darkred">
    <div>You clicked:</div>
    <div style="font-size: x-large">{{titleToDisplay}}</div>
</div>

<div class="row">
    <div class="column">
        <h3>Articles Listed from ... (various?) but not ngOnInit()</h3>
        <p>Number of Articles: {{ articles.length }}</p>
        <hr />
        <app-article
                *ngFor='let article of articles'
                [articleToSendDown]="article"
                on-myEventEmitterSendTitleAlias="runDisplayTitle($event)"></app-article>
    </div>
</div>
