<div class="center">
  <hr />
<p>&copy; Some Times Angular CRUD with REST API {{ copyrightYearInFooter }}</p>
<br />
  <p style="font-size: xx-small;">Pointed to API at: {{ apiUrlStubInFooter }}</p>
  <p style="font-size: xx-small;">Pointed to /public/img at: {{ imgUrlStubInFooter }}</p>
  <p style="font-size: xx-small;">Pointed to MongoDB Collection: {{ mongodbCollectionInFooter }}</p>
  <p style="font-size: xx-small;">Pointed to Git Repository: {{ gitRepoInFooter }}</p>
  <br />
  <p>CSCI-E31 Final Assignment 7 CODE CLEAN UP Post-Project - May 12 - 13 ..., 2018</p>
<p>William Reilly - wreilly2001@gmail.com</p>
</div>
